
essentials.txt
hsvrange.py
hsv_value.npy
pugixmlcheck.cpp
getxml.cpp
readfiles.cpp
linedetect.cpp
linedetect2.cpp
combinelines.cpp
generated_images/
ground_truth_rectangles/
trialrectangles.py
trialrectangles.cpp
output